<section class="bg-white py-16">
  <div class="container sm: mx-auto pl-16 md: px-4">
    <div class="flex flex-col lg:flex-row items-center">
      <!-- Left column -->
      <div class="lg:w-1/2 mb-8 lg:mb-0 pr-0 lg:pr-12">
        <h2 class="text-4xl md:text-5xl font-bold text-midnight-500 mb-4">
          Si estás buscando la mejor versión de tu producto
        </h2>
        <p class="text-orange-500 font-semibold mb-6 pt-4 text-xl">
          NOSOTROS TE AYUDAMOS A BRILLAR
        </p>
        <div class="relative">
          <div class="absolute top-12 left-0 w-16 h-0.5 bg-[#5e6082]"></div>
          <div class="sm: pl-20 pr-8 md:pl-20">
            <p class="text-midnight-500 mb-4 text-xl sm: pt-8">
              Porque somos más que una agencia de diseño y desarrollo. Somos tus
              aliados estratégicos en el camino hacia el éxito digital.
            </p>
            <p class="text-midnight-500 mb-6 text-xl">
              <b>Te ofrecemos un servicio boutique integral</b> que incluye desde
              la concepción y creación de tu idea o proyecto, hasta el lanzamiento
              y mantenimiento de tu producto digital.
            </p>
            <a
              href="#"
              class="inline-flex items-center text-midnight-500 hover:text-orange-600 transition-colors duration-200"
            >
              <div class="flex items-center mb-6">
                <span class="text-xl mr-4 pt-8">Conocer más</span>
                <img
                  src="assets/icons/flecha.svg"
                  width="40"
                  height="40"
                  alt="button"
                  class="pt-8"
                />
              </div>
            </a>
          </div>
        </div>
      </div>
      <!-- Right column -->
      <div class="lg:w-1/2">
        <div class="p-4">
          <img
            src="images/iphone-horizontal.png"
            alt="Digital product development"
            class="w-full h-auto object-contain"
          />
        </div>
      </div>
    </div>
  </div>
</section>
