<footer class="bg-midnight-500 text-white sm:py-12 sm:px-12 md:px-32">
  <div class="flex flex-row justify-between items-center">
    <div class="mb-6 md:mb-0">
      <img src="logo.svg" alt="WePragma Logo" class="sm:h-6 md:h-10" />

      <div class="sm:ml-0 md:ml-4 mt-6">
        <p class="block md:hidden text-base">
          Somos un equipo apasionado deseosos de marcar la diferencia.
        </p>
        <p class="hidden md:block text-base">
          Somos un equipo apasionado deseosos de <br />marcar la diferencia.
        </p>
      </div>
    </div>
    <div class="mb-6 text-center sm:pl-24 md:mb-0 ">
      <img
        src="/images/design-rush.png"
        alt="Design Rush Logo"
        class="sm:h-8 md:h-10 ml-12"
      />
      <div class="ml-4 mt-6">
        <p class="block md:hidden">
          Nos podrás encontrar en <span class="font-bold">Design Rush</span>
          como una de sus top compañías de desarrollo en México
        </p>
        <p class="hidden md:block">
          Nos podrás encontrar en <span class="font-bold">Design Rush</span>
          <br />como una de sus top compañías de <br />desarrollo en México
        </p>
      </div>
    </div>
  </div>
  <div class="flex flex-wrap sm:text-[0.8rem] md:justify-start space-x-6 mt-6 text-gray-400 hover:text-white">
    <a href="#">Inicio</a>
    <a href="#">Diseño UX/UI</a>
    <a href="#">Desarrollo</a>
    <a href="#">Branding</a>
    <a href="#">Paquetes</a>
    <a href="#">Nosotros</a>
    <a href="#">Para curiosos</a>
  </div>



  
  <div
    class="border-t border-gray-400 mt-6 pt-6 flex flex-col md:flex-row justify-between items-center"
  >
    <p class="text-gray-400 mb-4 md:mb-0">
      &copy; 2024 WePragma. All rights reserved.
    </p>
    <div class="flex sm:space-x-24 pt-8 md:space-x-8">
      <a href="#" class="text-gray-400 hover:text-white h-6 w-6">
        <img src="assets/icons/linkedin.svg" alt="Linkedin" />
      </a>
      <a href="#" class="text-gray-400 hover:text-white h-6 w-6">
        <img src="assets/icons/instagram.svg" alt="Instagram" />
      </a>
      <a href="#" class="text-gray-400 hover:text-white h-6 w-6">
        <img src="assets/icons/facebook.svg" alt="Facebook" />
      </a>
      <a
        href="#"
        class="text-gray-400 hover:text-white h-6 w-6 flex justify-center"
      >
        <img src="assets/icons/youtube.svg" alt="Youtube" />
      </a>
    </div>
  </div>
</footer>
