<section class="bg-white py-16 px-28 relative">
  <div
    class="absolute top-10 left-32 text-[#002266] text-opacity-[0.1] text-3xl md:text-[9rem] font-bold transform whitespace-nowrap leading-none z-0"
  >
    Proyectos
  </div>
  <div class="container mx-auto px-4">
    <div class="relative mt-20 mb-12 z-10 flex flex-row justify-between">
      <div>
        <h2 class="text-4xl md:text-5xl font-bold text-midnight-800 mb-2">
          Trabajos recientes
        </h2>
        <p class="text-orange-500 font-semibold text-base mb-4">
          PRODUCTOS QUE INSPIRAN
        </p>
      </div>
      <p
        class="font-size-400 text-gray-600 mr-3 flex items-center flex-nowrap md:mr-6"
      >
        <span class="w-8 h-0.5 bg-orange-500 mr-3 mb-6"></span>
        Revisa nuestros proyectos de diseño web y contáctanos <br />para
        impulsar el éxito online de tu empresa.
      </p>
    </div>
  </div>
  <div
    class="h-[623px] grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-0 mb-12"
  >
    <!-- Greenfinch Group -->
    <div
      class="bg-[url('/images/proyecto1.png')] bg-cover bg-center overflow-hidden shadow-lg flex flex-col justify-end"
    >
      <div class="p-6 text-center">
        <p class="text-orange-500 text-sm mb-2">
          Diseño UX/UI - Desarrollo y Branding
        </p>
        <h3 class="text-white text-xl font-semibold mb-2">Greenfinch Group</h3>
        <p class="text-blue-100 text-sm">
          Revisa nuestros proyectos de diseño web y contáctanos para impulsar
        </p>
      </div>
    </div>

    <!-- Startup Macloud -->
    <div
      class="bg-[url('/images/proyecto2.png')] bg-cover bg-center overflow-hidden shadow-lg flex flex-col justify-end"
    >
      <div class="p-6 text-center">
        <p class="text-orange-500 text-sm mb-2">Diseño UX/UI y Branding</p>
        <h3 class="text-white text-xl font-semibold mb-2">Startup Macloud</h3>
        <p class="text-green-100 text-sm">
          Revisa nuestros proyectos de diseño web y contáctanos para impulsar
        </p>
      </div>
    </div>

    <!-- Forma Foods -->
    <div
      class="bg-[url('/images/proyecto3.png')] bg-cover bg-center overflow-hidden shadow-lg flex flex-col justify-end"
    >
      <div class="p-6 text-center">
        <p class="text-orange-500 text-sm mb-2">Diseño UX/UI y Branding</p>
        <h3 class="text-white text-xl font-semibold mb-2">Forma Foods</h3>
        <p class="text-yellow-100 text-sm">
          Revisa nuestros proyectos de diseño web y contáctanos para impulsar
        </p>
      </div>
    </div>

    <!-- Fintech Plerk -->
    <div
      class="bg-[url('/images/proyecto4.png')] bg-cover bg-center overflow-hidden shadow-lg flex flex-col justify-end"
    >
      <div class="p-6 text-center">
        <p class="text-orange-500 text-sm mb-2">Diseño UX/UI</p>
        <h3 class="text-white text-xl font-semibold mb-2">Fintech Plerk</h3>
        <p class="text-purple-100 text-sm">
          Revisa nuestros proyectos de diseño web y contáctanos para impulsar
        </p>
      </div>
    </div>
  </div>

  <div class="flex flex-col md:flex-row items-center">
    <h3 class="text-xl font-normal mr-8">
      <span>Hablamos con fluidez</span>
      <span class="block w-10 h-0.5 bg-orange-500 mt-1"></span>
    </h3>
    <div class="flex flex-wrap ml-6 md:ml-4 gap-2">
      <div class="w-20 h-20 flex items-center justify-center">
        <img src="assets/icons/Pj1.svg" alt="Figma" />
      </div>
      <div class="w-20 h-20 flex items-center justify-center">
        <img src="assets/icons/Pj2.svg" alt="Adobe Creative Cloud" />
      </div>
      <div class="w-20 h-20 flex items-center justify-center">
        <img src="assets/icons/Pj3.svg" alt="" />
      </div>
      <div class="w-20 h-20 flex items-center justify-center">
        <img src="assets/icons/Pj4.svg" alt="" />
      </div>
      <div class="w-20 h-20 flex items-center justify-center">
        <img src="assets/icons/Pj5.svg" alt="JavaScript" />
      </div>
      <div class="w-20 h-20 flex items-center justify-center">
        <img src="assets/icons/Pj6.svg" alt="Git Hub" />
      </div>
      <div class="w-20 h-20 flex items-center justify-center">
        <img src="assets/icons/Pj7.svg" alt="Angular JS" />
      </div>
      <div class="w-20 h-20 flex items-center justify-center">
        <img src="assets/icons/Pj8.svg" alt="AWS" />
      </div>
      <div class="w-20 h-20 flex items-center justify-center">
        <img src="assets/icons/Pj9.png" alt="React" />
      </div>
    </div>
  </div>
</section>
