---
import Carousel from "../Carousel.astro";
---

<section
  class="bg-[url('/images/Background.png')] bg-midnight-800 bg-no-repeat bg-cover bg-bottom py-16 relative overflow-hidden pt-[116px] pb-32"
>
  <div
    class="absolute top-48 left-1/2 transform -translate-x-1/2 text-white text-opacity-[0.07] text-[5rem] font-bold whitespace-nowrap leading-none"
  >
    Nuestros servicios
  </div>
  <div
    class="absolute bottom-0 left-1/2 transform -translate-x-1/2 w-4/5 h-3/4 bg-blue-500 opacity-10 blur-[100px] rounded-full"
  >
  </div>
  <div class="container mx-auto px-4 relative z-10">
    <h2 class="text-4xl md:text-5xl font-bold text-white text-center mb-4">
      Encuentra <span class="text-orange-500">soluciones</span> a tus necesidades
    </h2>
    <p class="text-white text-center mb-12 max-w-2xl mx-auto">
      Te ofrecemos una amplia gama de servicios para ayudarte a alcanzar tus
      <br />
      objetivos de negocio.
    </p>
    <Carousel />
  </div>
</section>
