<section class="bg-gradient-to-b from-midnight-500 to-midnight-800 text-sky-100 py-16">
  <div class="container mx-auto px-4">
    <h2 class="text-orange-500 text-sm uppercase tracking-wide mb-2 text-center">EL PRIMER PASO COMIENZA CON NOSOTROS</h2>
    <h1 class="text-4xl md:text-5xl font-bold text-center mb-4">¿Qué nos hace diferentes?</h1>
    <p class="text-center text-gray-400 mb-12 max-w-2xl mx-auto">
      Descubre cómo nuestro enfoque centrado en las personas optimiza la conversión de tu negocio.
    </p>

    <div class="flex flex-col md:flex-row items-center justify-between">
      <div class="md:w-1/2 mb-8 md:mb-0">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
          <div>
            <h3 class="text-lg font-semibold mb-2">PENSAMIENTO INNOVADOR</h3>
            <p class="text-gray-400">Adoptamos el pensamiento innovador para ofrecer soluciones disruptivas y efectivas.</p>
          </div>
          <div>
            <h3 class="text-lg font-semibold mb-2">ADOPTAMOS TECNOLOGÍAS</h3>
            <p class="text-gray-400">Adaptamos el potencial de las nuevas tecnologías e IA para obtener soluciones efectivas y optimizar la productividad.</p>
          </div>
          <div>
            <h3 class="text-lg font-semibold mb-2">ANÁLISIS Y SEGUIMIENTO</h3>
            <p class="text-gray-400">Nos enfocamos en comprendamos a fondo tus necesidades antes de abordar diferentes vías y propuestas.</p>
          </div>
          <div>
            <h3 class="text-lg font-semibold mb-2">PLANIFICACIÓN CLARA</h3>
            <p class="text-gray-400">Estimaciones realistas de costos y tiempos para ayudar a su empresa a planificar su estrategia.</p>
          </div>
        </div>
      </div>
      <div class="md:w-1/2 flex justify-center">
        <div class="relative w-64 h-128 bg-gray-blue-200 rounded-3xl overflow-hidden">
          <img src="images/iphone-value-prop.png" alt="People working on laptop" class="absolute inset-0 w-5 h-auto object-cover" />
        </div>
      </div>
    </div>
  </div>
</section>
